* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primaryHeadingColor: #131318;
    --primaryParagraphColor: #5A5A5D;
    --primarySectionParagraphColor: rgba(19, 19, 24, 0.70);
    ;
}


.tm_wrapper {
    width: 1170px;
    margin: auto;
}


.tem-con-center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.primary-btn {
    background-color: #FF5400;
    color: #FFFFFF;
}

.all-btn {
    padding: 13px 35px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
}

/* primary style ============================================ */


/* header section  */


.nav-wrapper {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .logo-text {
    color: var(--primaryHeadingColor);
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}

.logo .logo-text b {
    color: #FF5400;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;

}

.nav-wrapper ul li {
    list-style: none;

}

.nav-wrapper ul li a {
    text-decoration: none;
    margin-left: 44px;
    text-transform: capitalize;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.nav-wrapper ul li a:hover {
    color: red;


}

/* main container section ============================= */
.hero-section {
    overflow: hidden;
    border-radius: 17px;
    width: 100%;
    height: 500px;
    background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
}

.bg_image {
    overflow: hidden;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}


.bg {
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
}

.hero-section .content h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.hero-section .content p {
    color: #FFFFFF;
    margin: 24px 0px 48px 0px;
    padding: 0px 80px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.form-wrapper .form-parent {
    margin: auto;
    padding: 16px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.30);
}

.common-style-form-item {
    width: 174px;
    height: 52px;
    padding-left: 14px;
    padding-right: 14px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}

input[type=text]:focus {
    border: none;
    outline: none;
}

select:focus {
    outline: none;
}

/* section our popular tour =============================== */
.popular_tour {
    margin: 100px 0px;
}

.popular_tour .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.popular_tour .content-wrapper .left-content {
    width: 50%;
}

.popular_tour .content-wrapper h2 {
    color: var(--primaryHeadingColor);
    font-size: 40px;
    font-weight: 800;
}

.popular_tour .content-wrapper .popular-p1 {
    color: var(--primarySectionParagraphColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
}

.popular_tour .content-wrapper .popular-p2 {
    color: var(--primarySectionParagraphColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 32px;
}

.popular_tour .content-wrapper ul {
    color: var(--primarySectionParagraphColor);
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.popular_tour .content-wrapper ul li:nth-child(2n) {
    color: var(--primarySectionParagraphColor);
    padding-top: 16px;
    padding-bottom: 16px;
}

/* chose your destination ============================= */
 .section-header {
    text-align: center;
    padding: 0 20%;

}

 .section-header h2 {
    color: var(--primaryHeadingColor);
    font-size: 40px;
    font-weight: 800;

}

 .section-header p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.destination-wrapper .portfolio-section .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    margin-bottom: 15px;
}

.destination-wrapper .portfolio-section img {
    width: 100%;
}

.destination-wrapper .portfolio-section .single-port-img {
    position: relative;
}

.destination-wrapper .portfolio-section .row h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* why choose us ====================================== */
.why-choose-us{
    margin-top:100px;
    margin-bottom:100px;
}